.similar-movies-cont {
    width: 300px;
    max-width: fit-content;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 510px;
    border: 2px solid var(--purple);
    box-shadow: 0px 5px 25px var(--light-purple);
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    align-items: center;
    background-color: var(--dark);
}
.similar-not-found-cont {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
}
.similar-not-found {
    width: fit-content;
    font-size: 18px;
    text-align: center;
    font-family: var(--font-family-gothic);
    color: var(--purple);
}
.similar-not-found-cont > .watch {
    display: flex;
    align-items: center;
    justify-content: center;
}
.similar-not-found-cont > .watch > svg {
    font-size: 17px;
}
.similar-movies-cont::-webkit-scrollbar {
    width: 3px;
}
.similar-movies-cont::-webkit-scrollbar-track {
    background: var(--dark);
}
.similar-movies-cont::-webkit-scrollbar-thumb {
    background-color: var(--white);
}
.similar-movies-title {
    color: var(--white);
    font-family: var(--font-family-neon);
    font-weight: 500;
}
.similar-movie-card {
    cursor: pointer;
    transition: all 1s;
}
.similar-movie-card:hover {
    scale: 1.03;
}
.similar-movies {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.similar-movie-img {
    width: 100px;
    border-radius: 12px;
}
