.sign-up-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("../../assets/images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.sign-up-page::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    backdrop-filter: blur(3px);
    background-color: var(--darkest-transparent);
}
.sign-up-form-container {
    display: flex;
    flex-direction: column;
    background-color: var(--light-transparent);
    backdrop-filter: blur(15px);
    justify-content: center;
    text-align: right;
    padding: 1rem;
    border-radius: 12px;
    align-items: center;
    border: none;
    /* border: 1px solid black; */
    border: 5px double var(--light-purple);
    box-shadow: 0px 3px 15px var(--black), 0px 3px 50px 15px var(--black);
    row-gap: 1rem;
    z-index: 99999;
    animation: formOppening 2s forwards ease-in-out;
}
.sign-up-form-container legend {
    color: var(--white);
    font-family: var(--font-family-gothic);
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 0 1rem;
    height: 0;
    transform: translateY(-20px);
}
.sign-up-form-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: var(--dark-transparent);
    width: 100%;
    height: 65px;
    border-radius: 6px;
    margin-bottom: 5px;
}
.sign-up-form-title h1 {
    color: var(--white);
    font-family: var(--font-family-neon);
}
.sign-up-form-title span {
    position: absolute;
    color: var(--purple);
    font-family: var(--font-family-gothic);
    font-size: 27px;
    bottom: 0;
}
.sign-up-form {
    display: flex;
    flex-direction: column;
    width: 500px;
    row-gap: 2rem;
    position: relative;
}
.sign-up-form input {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0.5rem;
    font-family: var(--font-family-neon);
    color: var(--white);
    z-index: 0;
    border-bottom: 1px solid var(--light-transparent);
}

.sign-up-input {
    display: flex;
    flex-direction: column;
}
.sign-up-form input + label {
    background-color: transparent;
    position: absolute;
    font-family: var(--font-family-neon);
    color: var(--dark-transparent);
    font-size: 1.2rem;
    left: 0;
    transition: all 1s;
    letter-spacing: 2px;
}

.sign-up-form input:focus + label,
.sign-up-form input:not(:placeholder-shown) + label {
    transform: translateY(-20px);
    font-size: 1.1rem;
    color: var(--darkest-transparent);
}
.sign-up-btn {
    border: none;
    padding: 1rem 2rem;
    border-radius: 12px;
    font-family: var(--font-family-neon);
    font-size: 18px;
    transition: all 1s;
    cursor: pointer;
    background-color: var(--light-transparent);
    color: var(--white);
}
.sign-up-btn:hover {
    /* color: var(--purple); */
    /* background-color: var(--white); */
    background-color: var(--light-purple);
}
.sign-up-form-message {
    font-family: var(--font-family-neon);
    color: var(--white);
    display: flex;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-transparent);
    width: 100%;
    padding: 1rem;
    border-radius: 6px;
}
.sign-up-form-message a {
    font-family: var(--font-family-gothic);
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--light-purple);
    transition: all 0.5s;
}
.sign-up-form-message a:active {
    color: var(--white);
}
.sign-up-form-message a:hover {
    color: var(--purple);
}

.sign-error {
    width: 100%;
    text-align: start;
    font-family: var(--font-family-neon);
    color: red;
    animation: signErrors 1s;
}
